@use "../../theme/functions" as *;
@use "../../theme/mixins" as *;
@use "../../theme/variables" as *;

.detail {
  padding-inline: 1.2em;
  padding-block: 1em;

  @include mq(md) {
    flex: 1 1 60%;
    padding: 0;
  }
}

.masthead {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  color: clr(neutral, dark-grayish-blue);
}

.title {
  font-weight: 700;
  font-size: 1.8rem;
  color: clr(neutral, very-dark-blue);
  margin-top: 0.5em;

  @include mq(md) {
    font-size: 2.5rem;
    margin-top: 0.2em;
  }
}

.description {
  margin-top: 1em;
  color: clr(neutral, dark-grayish-blue);
  line-height: 1.5;
  font-size: 0.9rem;
  max-width: 95%;

  @include mq(md) {
    margin-top: 2em;
    max-width: 100%;
  }
}

.price {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1.2em;

  @include mq(md) {
    flex-wrap: wrap;
    row-gap: 0em;
  }
}

.priceCurrent {
  font-weight: 700;
  font-size: 1.8rem;

  @include mq(md) {
    font-size: 1.5rem;
  }
}

.priceDiscount {
  background-color: clr(neutral, very-dark-blue);
  color: clr(white);
  font-weight: 700;
  font-size: 0.9rem;
  padding-inline: 0.7em;
  padding-block: 0.1em;
  border-radius: 0.3em;

  @include mq(md) {
    font-size: 0.8rem;
  }
}

.priceOriginal {
  color: clr(neutral, dark-grayish-blue);
  font-size: 0.9rem;
  font-weight: 700;
  display: inline-block;
  margin-left: auto;

  @include mq(md) {
    margin-left: 0;
    flex: 1 1 100%;
    font-size: 0.8rem;
  }
}
